{% extends "base.html" %}
{% block title %}Requests{% endblock %}
{% block content %}
{% load hello_tags %}
        <h2>42 Coffee Cups Test Assingment</h2>
<form method="POST" action="{% url 'priority_update' %}">
    <table>
        {% csrf_token %}
        <tr>
            <th>Id</th>
            <th>Priority</th>
            <th>Path</th>
            <th>Method</th>
            <th>Time</th>
            <th>Set priority</th>
        </tr>
        {% for request, form in objects %}
        <tr>
            <td>{{ request.pk }}</td>
            <td>{{ request.priority }}</td>
            <td>{{ request.path }}</td>
            <td>{{ request.method }}</td>
            <td>{{ request.time }}</td>
            <td>
                {% for choice in form.priority %}
                    {{ choice }}
                {% endfor %}
                {{ form.id }}
            </td>
        </tr>
        {% endfor %}
        {{ formset.management_form }}
    </table>
    <input type="submit" value="Save" /><a href="{% url 'home' %}">Back</a>
</form>
{% endblock %}